@import "~@fluentui/react/dist/sass/References.scss";

.main {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
.QVersation {
  text-align: left;
  ul {
    margin-left: 0px;
    li {
      display: inline-block;
      width: auto;
      padding: 4px;
      border-radius: 12px;
    }
  }
}

// .Controls {
//   padding-left: 43px;
//   table {
//     width: -webkit-fill-availables;
//   }
//   button {
//     margin-left: 3px;
//     margin-top: 15px;
//   }
//   .PraatHier {
//     width: 250px;
//   }
//   .Comms {
//     font-size: 13px;
//     padding-top: 7px;
//   }
// }

// .KiesPratie {
//   color: inherit;
// }

// .CodeFrame {
//   border: 1px solid yellow;
// }

.assistant {
  color: #253259;
}
.function {
  color: orange;
}
.system {
  color: #a6401b;
}
.user {
  color: #808c89;
}

.Controls {
  padding-left: 43px;
  table {
    width: -webkit-fill-availables;
  }
  button {
    margin-left: 3px;
    margin-top: 15px;
  }
  .PraatHier {
    width: 250px;
  }
  .Comms {
    font-size: 13px;
    padding-top: 7px;
  }
}

// /*
//  * @NOTE: Prepend a `~` to css file paths that are in your node_modules
//  *        See https://github.com/webpack-contrib/sass-loader#imports
//  */

// body {
//   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
//   background-color: black;
//   color: #808c89;

//   input {
//     background-color: #253259;
//     color: #808c89;
//   }
// }

// .klasie {
//   font-size: x-large;
// }
// .QVersation {
//   .assistant {
//     color: #253259;
//   }
//   .function {
//     color: orange;
//   }
//   .system {
//     color: #a6401b;
//   }
//   .user {
//     color: #808c89;
//   }

//   ul {
//     margin-left: 0px;
//     li {
//       display: inline-block;
//       width: auto;
//       padding: 4px;
//       border-radius: 12px;
//     }
//   }
// }

// .KiesPratie {
//   color: inherit;
// }

// .CodeFrame {
//   border: 1px solid yellow;
// }
